body {
    margin: 0;
    font-family: sans-serif;
}

form.ms {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.25rem;
}

form.ms input {
    border: 0;
    padding: 0.5rem;
    width: 100%;
    outline: 0;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background: #ccc;
}

form.ms button {
    width: 6rem;
    background-color: #1b8c00;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

form.ms button:hover {
    background-color: #166d01;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}

.messages li {
    padding: 0.5rem;
    background: #838383;
}

.messages li:nth-child(odd) {
    background: #525252;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: auto;
    width: 100%;
}

li.nav {
    float: left;
}

li.nav a {
    margin: auto;
    width: 50%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

li.navt h1 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    padding: 0;
    z-index: 2;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    float: right;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    /* If you want a transition effect */
    padding: 20px;
}

.chathistory {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    position: fixed;
    width: 26%
}

.chathistory li {
    padding: 0.5rem;
    background: #838383;
}

/* Add styles to the form container */
.form-container {
    display: grid;
    position: fixed;
    right: 258px;
    width: 25%;
    background: black;
    z-index: 1;
    margin-top: 139px;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container b {
    text-align: center;
}

.form-container h1 {
    display: grid;
    text-align: center;
}
@media screen and (max-height: 900px) {

    .openbtn {
        position: absolute;
    }

    .form-container {
        right: 107px;
        width: 50%;
    }
}