body {
    margin: 0;
    font-family: sans-serif;
}

form.ms {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75%;
    display: flex;
    box-sizing: border-box;
    padding: 0.25rem;
  }

form.ms input {
    border: 0;
    padding: 0.5rem;
    width: 100%;
    outline: 0;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background: #ccc;
}

form.ms button {
    width: 6rem;
    background-color: #1b8c00;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

form.ms button:hover {
    background-color: #166d01;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}

.messages li {
    padding: 0.5rem;
    background: #838383;
}

.messages li:nth-child(odd) {
    background: #525252;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: auto;
    width: 100%;
}

li.nav {
    float: left;
}

li.nav a {
    margin: auto;
    width: 50%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

li.navt h1 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    padding: 0;
    z-index: 2;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 16px;
    cursor: pointer;
    background-color: #111;
    color: white;
    float: right;
    margin-right: 2%;
  }

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    /* If you want a transition effect */
    padding: 20px;
}

.chathistory {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    position: fixed;
    width: 26%
}

.chathistory li {
    padding: 0.5rem;
    background: #838383;
}

@media screen and (max-height: 900px) {
    body {
        grid-template-rows: 140px 1fr 0px;
        grid-template-columns: 0% 99% 0%;
    }

    #mainArticle {
        grid-area: article;
        overflow-y: scroll;
        border-block-width: 63px;
        position: relative;
        margin-top: 23px;
    }
    form.ms {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 99%;
        display: flex;
        box-sizing: border-box;
        padding: 0.25rem;
      }

}
