body {
    display: grid;
    grid-template-areas:
        "header header  header"
        "nav  article ads   "
        "footer footer  footer";
    grid-template-rows: 140px 1fr 0px;
    grid-template-columns: 0% 75% 26%;
    grid-gap: 2px;
    height: 100vh;
    margin: 0;
    color: white;
}

#pageHeader {
    grid-area: header;
    padding: 0;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
    overflow-y: scroll;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
    overflow-y: scroll;
}

header,
footer,
article,
nav,
div {
    background: rgb(0, 0, 0);
}

