body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article ads"
        "footer footer footer";
    grid-template-rows: 140px 1fr 40px;
    grid-template-columns: 0% 1fr 26%;
    grid-gap: 2px;
    height: 100vh;
    margin: 0;
    color: white;
}

#pageHeader {
    grid-area: header;
    padding: 0;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
    overflow-y: scroll;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}

header,
footer,
article,
nav,
div {
    background: rgb(0, 0, 0);
}

@media screen and (max-height: 900px) {
    body {
        grid-template-rows: 140px 1fr 0px;
        grid-template-columns: 0% 1fr 0%;
    }
}